#detailsPage {
    display: grid;
    justify-items: center;
  }
  
  .details {
    display: block;
    position: relative;
    width: 700px;
    height: 600px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background-color: #999999 !important;
    box-shadow: 14px 14px 30px #464a4e, -14px -14px 30px #464a4e;
    justify-content: center;
 

    transform: scale(1.04);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    /* box-shadow: -1px 2px 27px 3px rgba(0, 0, 0, 0.09) */
}
  
  .pic {
    margin-top: 20px;
    margin-bottom: 10px;
    /* transform: opacity 0.3s ease-in; */
    width: 250px;
    height: 250px;
    margin: 20px auto;
    border-radius: .25rem;
    border: 1px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    opacity: 0.8;
  }
  
  .pic img {
    border-radius: 12px 12px 12px 12px;
    height: 100%;
  }
  

  
 h1 {
    color: black;
    font-weight: bolder;
    font-size: 28px;
  }
  
 h3 {
    margin: 8px 0 47px 18px;
    font-size: 18px;
    color: black;
    
    letter-spacing: 0.1em;
    margin-bottom: 0;
  }
  
 
  
  .actionBtn {
    display: flex;
    text-align: center;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
     color: white;
  }
  
  .actionBtn > a {
    width: 200%;
    height: auto;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    display: inline;
    align-items: center;
    justify-content: center;
    background: url(https://hobbyland.bg/skin/frontend/default/perfectum/images/HeaderNavBG5.png) center top;
    transition: 500ms;
   color:black;
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 10px;
    text-decoration: none;
    margin-right: 50px;
    box-shadow: 6px 6px 20px #464a4e62, -6px -6px 20px #464a4e62;
  }

  .actionBtn > p {
    width: 200%;
    height: auto;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    display: inline;
    align-items: center;
    justify-content: center;
    background: url(https://hobbyland.bg/skin/frontend/default/perfectum/images/HeaderNavBG5.png) center top;
    transition: 500ms;
   color:black;
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 10px;
    text-decoration: none;
    margin-right: 50px;
    box-shadow: 6px 6px 20px #464a4e62, -6px -6px 20px #464a4e62;
  }
  
  .actionBtn > a:hover {
   
      cursor: pointer;
      background-image: linear-gradient(45deg, #364236, #b0c8b0);
      color: white
  
  }

  .liked{
    width: 200%;
    height: auto;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    display: inline;
    align-items: center;
    justify-content: center;
    background: url(https://hobbyland.bg/skin/frontend/default/perfectum/images/HeaderNavBG5.png) center top;
    transition: 500ms;
   color:black;
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 10px;
    text-decoration: none;
    margin-right: 50px;
    box-shadow: 6px 6px 20px #464a4e62, -6px -6px 20px #464a4e62;
  }

  .liked :hover {
    width: 200%;
    height: auto;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    display: inline;
    align-items: center;
    justify-content: center;
    background: url(https://hobbyland.bg/skin/frontend/default/perfectum/images/HeaderNavBG5.png) center top;
    transition: 500ms;
   color:black;
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 10px;
    text-decoration: none;
    margin-right: 50px;
    box-shadow: 6px 6px 20px #464a4e62, -6px -6px 20px #464a4e62;
  }
  