
<div class="welcome">
    <h3>Welcome to Hobby World!</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente vitae quidem facilis recusandae iusto velit dolore totam repellendus consectetur perspiciatis soluta omnis, maiores minus iste vel voluptatem quo, aut dicta!
    </p>
    <div class="logged" >
        <ul *ngIf="!isLoggedIn">
            <li>
                <a routerLink="/auth/login">
                    Login
                </a>
            </li>
            <li>
                <a routerLink="/auth/register">
                    Register
                </a>
            </li>
        </ul>

       
    </div>
</div>   
<div class="row">
    <div class="column">
      <img src="../../assets/images/51ax2sk5vqL.jpg" alt="Snow" style="width:100%">
    </div>
    <div class="column">
      <img src="../../assets/images/51ax2sk5vqL.jpg" alt="Forest" style="width:100%">
    </div>
    <div class="column">
      <img src="../../assets/images/97402.jpg" alt="Mountains" style="width:100%">
    </div>
  </div> 


