<div class="welcome">
    <h3>Welcome to Hobby World!</h3>
    <p>Modeling is much more than a hobby. It is a passion that opens up the possibility for you to hold in your hands a whole new world created from your own miniatures.
        The first stop of our walk will take you into a fascinating story about the history of trains - from their invention to the most modern. Embarking on Railway Modeling is an adventure in which you can build your own station, tracks and infrastructure.
        
        n the Catalog section you will find numerous models of airplanes and helicopters from different eras. Any model aircraft maker will tell you that the skills required to assemble them are not just technical, but also largely creative, because to assemble them you need discipline, patience and a lot of precision. We should not forget the appropriate tools, paints, varnishes and accessories, which must be carefully selected.
        And when we talk about hobby models, we can say that ship modeling occupies a worthy place with us. It is a complex technical art that recreates with impeccable detail and accuracy the authentic plans of real historical ships.
        In the Catalog section, the surprises don't end there. A rich collection of military equipment in the form of tanks, cars, submarines, warships and jeeps can recreate different moments of the historical events during the two World Wars. And the figurines added to them contribute to even greater authenticity of the recreated historical battles.
        However, if you are not a fan of history, but at the same time you like to constantly invent and invent something new, then models related to science and fiction are just for you.
        On the site you can find inspiration or simply share your creations.
        
    </p>
    <div class="logged">
        <ul *ngIf="!isLoggedIn">
            <li>
                <a routerLink="/auth/login">
                    Login
                </a>
            </li>
            <li>
                <a routerLink="/auth/register">
                    Register
                </a>
            </li>
        </ul>


    </div>
</div>



