<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
<div class="container">
    <div class="row clearfix">
        <ul *ngIf="!isLoading &&  postsList.length > 0">
            <li *ngFor="let post of postsList">


                <!-- [routerLink]="['product','detail',product.id]"> -->
                <div class="card">
                    <div class="image-container">
                        <img [routerLink]="['/features/details/',post[0]]" src="{{post[1].imageUrl}}"
                            class="card-img-top" alt="product image">
                    </div>
                    <div class="card-body">




                        <p><b>{{post[1].title }}</b></p>

                        <a [routerLink]="['/features/details/',post[0]]" class="btn btn-primary"> Details
                                Page</a>

                    </div>
                </div>
            </li>
        </ul>

    </div>
</div>