/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');




body {
    background-color:whitesmoke;
    background-position: 20% 82%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


html {
    font-family: 'Alegreya', serif;
    font-size: 16px;
    box-sizing: border-box;
  
    background-blend-mode: overlay;
}

body{
    background-image: url('assets/images/hobby-concept-background-hobby-background-assembling-plastic-model-kits-109264278.jpg');
}







.notifications {
    /* display:none; */
    margin: 2em;
    padding: 1em;
    position: absolute;
    right: 0;
    width: 20em;
    border: 2px solid;
    border-image-slice: 1;
    border-radius: 1em;
    color: white;
}

.success {
    border-color: green;
    background-color: rgba(4, 88, 4, 0.719);
}

.error {
    background-color: rgba(245, 58, 136, 0.568);
    border-color: rgba(255, 0, 0, 0.315);
}

.loading {
    border-color: rgba(8, 144, 255, 0.973);
    background-color: rgba(1, 73, 133, 0.973);
}

.btn {
    /* border: 2px solid black; */
    border-radius: 0.3em;
    padding: 0.1em 0.3em;
    color: black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.568);
}

html, body { height: 100%; }






.pointer{
    cursor: pointer;
}

 p {
    padding: 1em;
    border-bottom: 1px solid #999;
    font-style: normal;
    margin-bottom: 10px; /* Add margin-bottom for spacing */
}